.title {
  text-align: center;
}

.blog-posts {
}

.resume {

}

.body{
  background-color: grey;
}


.column {
    float: left;
}

.left {
    width: 40%;
    background-color: green;
}

.right {
    width: 60%;
}
